h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkblue;
}

body {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

.intro-text {
    font-size: 20px;
    font-style: italic;
}

.profile-card {
    background-color: rgb(247, 220, 220);
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-theme,
.dark-theme h1,
.dark-theme h2,
.dark-theme p,
.dark-theme li {
    background-color: black;
    color: white;
}